version: "3"

services:
  tasks:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-app
    volumes:
      - .:/var/www/html
    depends_on:
      - db
      - webserver

  webserver:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    # depends_on:
    #   - tasks

  db:
    image: mysql:5.7
    ports:
      - 3307:3306
    environment:
      MYSQL_DATABASE: tasks
      MYSQL_ROOT_PASSWORD: 123yusu*0*
      MYSQL_USER: root
      MYSQL_PASSWORD: 123yusuf*0*
    volumes:
      - dbdata:/var/lib/mysql/
      - ./mysql/my.cnf:/etc/mysql/my.cnf

#Volumes
volumes:
  dbdata:
    driver: local
